<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="gmd">
    <title><%= title %></title>
    <% block('head') %>
</head>

<body>
<%- body %>
<% block('footer') %>
</body>

</html>